*{
    margin: 0;
    padding: 0;
}
.outer{
    display: flex;
    justify-content: space-between;
    height: 13vh;
}

.inner1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10rem;
}
.inner2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10rem;
}
.logo{
    height: 4rem;
}
ul{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    align-content: center;
}
li{
    list-style: none;
    font-size: 1.4rem;
    padding: 0.5rem;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}

.contact{
    
}